/* General crap like links */
a {
	text-decoration: none;
	color: 	#92140C;
}

/* Luke, I am your father */
body {
	color: black;
	background:  wite;
	margin: -26px 0 0 0;
}

#wrap {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 1024px;
	height: 100%;
    margin: auto;
	background: white;
	}

#topBar {
	background: #92140C;
	height: 90px;
	width: 100%;
	border-bottom: 4px solid #55000C;
}
/* Header shit */
header {
	color: white;
	width: 1024px;
	height: 90px;
	margin: auto;
	}

#logo  {
	float: left;
	color: white;
	margin: 33px 0 0 0;
	height: 50px;
	width: 200px;
	}
#logo a {
	color: white;
}

#subtitle {
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 0 0;
	}

#account {
	float: right;
	background: #55000C;
	width: 520px;
	height: 30px;
	padding: 3px 5px 0px 5px;
	margin: 40px 0 0 0;
	}

#account form {
	display: inline;
	}

#account input {
	border: 1px solid #92140C;
}

#account .button  {
	color: white;
	font-weight: bold;
	font-size: 18px;
	height: 27px;
	width: 66px;
	background: #55000C;
	border: none;
}

#account .button:hover {
	background:  #92140C;
}

#account a {
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 2px 7px 4px 7px;
	background: #55000C;
	border: none;
}

#account a:hover {
	background:  #92140C;
}

nav {
	position: absolute;
	margin: 55px 0 0 0;
	}

nav li {
	display: inline;
	list-style: none;
	}

nav a {
	text-decoration: none;
	color: white;
	}

footer {
	border-top: 2px gray solid;
	clear: both;
	text-align: center;
	width: 100%;
	margin: 0 0 20px 0;
	}

.right {
	float: right;
}
