<!DOCTYPE html> 
<html> 
  <head> 
	<title>Groupaholics - {% block title %}{% endblock %}</title> 
	<link rel="stylesheet" type="text/css" href="/media/base.css"> 
{% block style %}{% endblock %}
  </head> 
  <body>
	<div id="topBar">
	  	  <header> 
		<h1 id="logo"><a href="/">Groupaholics</a></h1> 
		<span id="subtitle">| connecting people and projects</span>

		  <div id="account">
		  <!-- some sort of login/logout menu, etc -->
		  {% if user.is_authenticated %}
		  <div id "accountMenu">
			<a href="/logout">Logout</a>
			
		  </div>
		  {% else %}

		  <form action="/login/" method="post">
			{% csrf_token %}
			<input type="email" name="loginEmail" class="textField" placeholder="Email"/>
			<input type="text" name="loginPassword" class="textField" placeholder="Password"/>
			<input type="submit" class="button" value="Login" /> 
		  </form> 
		  		  <a href="/register">Register</a>
		  {% endif %}
		</div>
		<nav id="mainNav">
		  <ul>
			<li><a href="/">Home</a></li>
		  </ul>
		</nav>
	  </header>
</div>
	<div id="wrap">

	  <div id="content"> 
		{% block content %}{% endblock %}
	  </div> 
	  
	  <footer>
		<p id="footer">&copy; Team Untitled 2011</p> 
	  </footer> 
	</div>
  </body> 
</html> 

