<!DOCTYPE html> 
<html> 
  <head> 
	<title>Groupaholics - {% block title %}{% endblock %}</title> 
	<link rel="stylesheet" type="text/css" href="/media/base.css"> 
	{% block style %}{% endblock %}
  </head> 
  <body>
	<div id="wrap">
	  <header> 
		<h1 id="logo"><a href="/">Groupaholics</a></h1> 
		<p id="subtitle">connecting people and projects</p>
		<div id="account">
		  <!-- some sort of login/logout menu, etc -->
		  {% if user.is_authenticated %}
		  <div id "accountMenu"></div>
		  {% else %}
		  <a href="/register">Register</a>
		  <form action="/login" method="post">
			<!--<div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='a4123d30db5bc0b24c93eb0aa0a4e27b' /></div>-->
			<input type="text" name="email" class="textField" value="Email" onfocus="this.value = (this.value=='Email')? '' : this.value;"/>
			<input type="text" name="password" class="extField" value="Password" onfocus="this.value = (this.value=='Password')? '' : this.value;" />
			<input type="submit" class="button" value="Login" /> 
		  </form> 
		  {% endif %}
		</div>
		<nav id="mainNav">
		  <ul>
			<li><a href="/">Home</a></li>
		  </ul>
		</nav>
	  </header>
	  
	  <div id="content"> 
		{% block content %}{% endblock %}
	  </div> 
	  
	  <footer>
		<p id="footer">&copy; Team Untitled 2011</p> 
	  </footer> 
	</div>
  </body> 
</html> 

