{% extends "base.html" %}
{% block title %}{{ profile.get_full_name }}'s Profile{% endblock %}
{% block content %}
<div id="basic">
  <img url="{{ profile.photo }}">{{ profile.get_full_name }}'s Photo</img>
  <h2>{{ profile.get_full_name }}</h2>
  <span id="headline">{{ profile.headline }}</span>
</div>
<div id="skills">
  {% if profile.skill_tags %}
  <ul>
  {% for skill in profile.skill_tags.all %}
  <li><a href="/skill/{{ skill }}">{{ skill }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>This user has no skills listed!</p>
{% endif %}
</div>
<div id="bio">
{{ profile.bio }}
</div>
<div id="projects">
{% if profile.projects %}
<ul>
{% for project in profile.projects.all %}
<li>
<a href="/profile/{{ project.slug }}">{{ project.name }}</a><
<p>{{ project.description }}</p>
</li>
{% endfor %}
{% else %}
<p>This user hasn't participated in any projects yet.</p>
{% endif %}
</div>
{% endblock %}
