{% extends "base.html" %}
{% block title %}{{ user.name }}'s Profile{% endblock %}
{% block content %}
<div id="basic">
  <img url="{{ user.photo }}">{{ user.first_name }} {{ user.last_name }}'s Photo</img>
  <h2>{{ user.first_name }} {{ user.last_name}}</h2>
  <span id="headline">{{ user.headline }}</span>
</div>
<div id="skills">
  {% if user.skills %}
  <ul>
  {% for skill in user.skills %}
  <li><a href="/skill/{{ skill }}">{{ skill }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>This user has no skills listed!</p>
{% endif %}
</div>
<div id="bio">
{{ user.bio }}
</div>
<div id="projects">
{% if user.projects %}
<ul>
{% for project in user.projects %}
<li>
<a href="/profile/{{ project.slug }}">{{ project.name }}</a><
<p>{{ project.description }}</p>
</li>
{% endfor %}
{% else %}
<p>This user hasn't participated in any projects yet.</p>
{% endif %}
</div>
{% endblock %}
