<!-- This is the registration page -->
{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="/media/main.css">
<script type="text/javascript" src="/media/registerValidate.js"></script>
{% endblock %};

{% block content %}
<div id="createAccount">
<!-- Account creation form -->
<h2>Create your account!</h2>
<form name="registerForm" action="/registerScript" method="post" onsubmit="registerValidate(document);">
{% csrf_token %}
<input required="required" id="id_user" type="username" class="textField" name="username" placeholder="Username" /><br />
<input required="required" id="id_first"  class="textField" name="first_name" placeholder="First Name" /><br />
<input required="required" id="id_last"  class="textField" name="last_name" placeholder="Last Name" /><br />
<input required="required" id="id_email" type="email" class="textField" name="email" placeholder="Email" /><br />
<input required="required" id="id_pass" type="password" class="textField" name="password" placeholder="Password" /><br />
<input required="required" id="id_passCon" type="password" class="textField" name="confirmPassword" placeholder="Confirm Password" />
<label id="passwordError" class="error"></label><br />
<input type="submit" class="button" placeholder="Create account!" />
</form>
</div>
{% endblock %}
