<!-- This is the registration page -->
{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="/media/main.css">
<script type="text/javascript" src="/media/registerValidate.js"></script>
{% endblock %};

{% block content %}
{% if not success %}
<div id="createAccount">
<!-- Account creation form -->
<h2>Create your account!</h2>
<form name="registerForm" action="/register/" method="post" onsubmit="registerValidate(document);">
{% csrf_token %}
{{ regForm }}
<input type="submit" class="button" placeholder="Create account!" />
</form>
</div>
{% else %}
<p>Your account has been created!  You may now <a href="/login/">login</a>.</p>
{% endif %}
{% endblock %}
